.cabecalho{
    background-color: black;
    color: rgb(9, 55, 141);
    text-align: center;
    position: relative;
    padding: 5px;
    
}
.titulo_site{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}